/* --primary-color: #374f59;
	--secondary-color: #9db3c1;
	--thirdary-color: #d7dee1; */
* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
}

.firstPart {
	width: 45%;
}

.secondPart {
	width: 45%;
}

.allParts {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
