.filterTabContainer {
    box-sizing: border-box;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    background-color: var(--thirdary-color);
    border-radius: 5%;
    padding: 1rem;
    margin: 0;
}

.moreFilters{
    margin: 0;
}

button{
    /* display: block; */
    padding: 0.3rem;
    margin:0.4rem;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.currentFilters{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: small;
}

