* {
    margin: 0;
    padding: 0;
}

.filterTabContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--thirdary-color);
    border-radius: 15px;
    padding: 1rem;
    margin: 0 auto .5rem;
    width: min(85vw, 1280px);
}

.moreFilters {
    margin: 0.5rem 0 0 0;
    font-size: 1rem;
}

button {
    padding: 0.3rem;
    margin: 0.4rem;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    cursor: pointer;
    font-size: 0.7rem;
    border-radius: 8px;
    border: 1px solid transparent;
    font-weight: 500;
    font-family: inherit;
}

.searchForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search {
    background-color: white;
    color: var(--secondary-color);
    padding-left: 2px;
}

.currentFilters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}

fieldset {
    margin-top: 1rem;
    color: var(--secondary-color);

}

@media screen and (max-width: 420px) {
    fieldset {
        margin-top: 0.5rem;
    }

    button {
        padding: 0.3rem;
        margin: 0.2rem;
        font-size: 0.6rem;
    }

}