* {
    margin: 0;
    padding: 0;
}

.checkBoxes{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.filterPageContainer {
    background-color: var(--thirdary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    padding: 1rem;
    margin: 0 auto;
    width: min(85vw, 1280px);
    height: auto;
    align-items: center;
    /*border: solid var(--secondary-color) */
}

fieldset {
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
}

/* @media screen and (min-width: 651px) and (max-width: 3000px) {
    body {

        margin-bottom: 1rem;

    }

    .subregionContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 1rem;
        padding: 1rem;
        align-self: center;
    }

} */