<<<<<<< HEAD
:root{
	--primary-color: #9db3c1; /* background color */
	--secondary-color: #374F59; /* text color */
	--thirdary-color: #d7dee1; /* text color 2 */
	--quaternary-color: #374f594d; /* background color of cards */
}

.img {
	display: flex;
	flex-direction: column;
=======
.item {
	/* display: flex;
	flex-direction: column; */
>>>>>>> d8f008dac466f1f8dd73c9abc9336bec940d6c3a
	background-color: var(--quaternary-color);
	color: var(--secondary-color);
	border-radius: 10px;
	margin: 10px;
<<<<<<< HEAD
	flex-wrap: wrap;
	height: 450px;
	width: 300px;
	justify-content: center;
}

.subdiv img{
	width: 150px;
	height: 100px;
	border-top :10px;
=======
	/* flex-wrap: wrap; */
	height: auto;
	width: 70%;
	justify-content: center;
}

img {
	width: 50%;
	aspect-ratio: 3/2;
	object-fit: cover;

}

.itemContent {
	display: flex;
	flex-direction: row;
>>>>>>> d8f008dac466f1f8dd73c9abc9336bec940d6c3a
}

.subdiv {
	display: flex;
	flex-direction: column;
<<<<<<< HEAD
	align-items: center;
=======
>>>>>>> d8f008dac466f1f8dd73c9abc9336bec940d6c3a
	justify-content: center;
	gap: 5px;
}

<<<<<<< HEAD
.subdiv p{
	width: 100%;
    text-align: left;
    color: var(--thirdary-color);
    padding-left: 30px;
}

.h2item {
	display: flex;
	justify-content: center;
	color: var(--thirdary-color);

}

.subdiv a{
	display: flex;
	justify-content: center;
	text-decoration: none;
	width: 250px;
	height: auto;
	color: var(--primary-color);
	border-radius: 10px;
	background-color: var(--secondary-color);
	font-size: 20px;
	cursor: pointer;
}

.subdiv a:hover{
	background-color: var(--thirdary-color);
	color: var(--secondary-color);
	transition: 2,5s;
=======
.h2item {
	color: var(--thirdary-color);
>>>>>>> d8f008dac466f1f8dd73c9abc9336bec940d6c3a
}