:root {
	--primary-color: #9db3c1;
	/* background color */
	--secondary-color: #374F59;
	/* text color */
	--thirdary-color: #d7dee1;
	/* text color 2 */
	--quaternary-color: #374f594d;
	/* background color of cards */
}

.item {
	gap: 5px;
	width: 300px;
	height: 450px;
	margin: 20px;
	padding: 0 0 30px 0;
	border-radius: 10px;
	background-color: var(--quaternary-color);
}

.itemContent img {
	width: 140px;
	height: 100px;
	border-radius: 10px;
	/* margin: 10px;
	/* flex-wrap: wrap; */
	/*height: auto;
	width: 80%;
	justify-content: center;
}

img {
	width: 50%;
	aspect-ratio: 3/2;
	object-fit: cover;
	display: block; */

}

.itemContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10px;
	justify-content: center;
}

.subdiv img {
	display: flex;
	justify-content: left;
	width: 150px;
	height: 100px;
	border-top: 10px;
}

.subdiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.subdiv p {
	width: 100%;
	text-align: left;
	color: var(--thirdary-color);
	padding-left: 30px;
}

.h2item {
	display: flex;
	justify-content: center;
	padding-top: 5px;
	color: var(--thirdary-color);
	/* }

@media screen and (max-width: 800px) {

	.itemContent {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	img {
		margin: 0 auto 1rem
	} */


}

.subdiv a {
	display: flex;
	justify-content: center;
	text-decoration: none;
	width: 200px;
	height: auto;
	color: var(--primary-color);
	border-radius: 10px;
	background-color: var(--secondary-color);
	font-size: 20px;
	cursor: pointer;
}

.subdiv a:hover {
	background-color: var(--thirdary-color);
	color: var(--secondary-color);
	transition: 2, 5s;
}

@media screen and (min-width: 841px) and (max-width: 3000px) {
	.item {
		gap: 5px;
		width: 50%;
		height: 100%;
		margin: 20px;
		padding: 0 0 30px 0;
		border-radius: 10px;
		background-color: var(--quaternary-color);
	}

	.itemContent img {
		margin: 0 30px 0 30px;
	}

	.h2item {
		display: flex;
		justify-content: center;
		padding-top: 5px;
		margin-left: 30px;
		color: var(--thirdary-color);

	}

	.itemContent {
		display: flex;
		flex-direction: row;
	}
}