* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 2px;
	justify-content: center;
	align-items: center;
}

.mainDiv{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* doit être dans item, pas dans list
.img{
	background-size: cover;
	background-position: center;
	height: 300px;
	width: 300px;
	display: flex;
	justify-content: center;
} */
